.but{
    size: 100px;
    display: flex;
    border-radius: 50px;
    border: 9px white solid;
    margin: 10px;
    width: 300px;
    height: 15px;
    
    
    
    
    
}

.inp{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    
    

    
    
}

.header{
    display: flex;
    background-color:rgb(13, 200, 156)  ;
    justify-content: center;
}


.number{
 
    background-color: white;
    border-radius: 10px;
    position: absolute;
    width: 110px;
    height: 20px;
    color:rgb(13, 200, 156) ;
    right: 50px;
    
    
}


.header2{
    display: flex;
    flex-direction: row;
    color: rgb(13, 200, 156)  ;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}


.services{
    display: flex ;
    padding-top: 50px;
    color: black;
    

    font-family: Georgia, 'Times New Roman', Times, serif;
    

    
}

.companyMAF{
    display: flex ;
    color: black;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.img2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}

.img4{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.border1{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 32em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border2{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 32em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border3{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 32em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    
}

.border4{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 32em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.images{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6em;
    

    

}

.antibacterial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.1em;
}

.information{
   
    display: grid;
    grid-template-rows: 16em 16em ;
    padding-top: 45px;
    



}

.borderRadius{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 74em;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 12em;
    
    
    
}

.borderRadius2{
    border: 2px rgb(13, 200, 156) solid;
    border-radius: 10px;
    width: 74em;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 12em; 
}














.footer{
    display: flex;
    background-color: rgb(13, 200, 156) ;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    color: white;
    padding-top: 20px;
    gap: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.product{
    display: flex;
    flex-direction: column;
    width: 70px;
    color: white;
   
    
}

.press{
    display: flex;
    flex-direction: column;  
    
}


.comp{
    color: white;
}
.prod{
    color: white;
}
.p4{
    color: white;
}
.p5{
    color: white;
}
.gap{
    color: white;
}
.ww{ 
    color: white;
}
.wwww{
    color: white;
}


@media screen and (min-width: 300px) and (max-width: 1024px) {

    .header{ 
        width: 25em;
        height: 6em;

    }

   .but{
    width: 17em;
    height: 2em;
    display: flex;
    border-radius: 15px;
   }

   .number{
  display: none;
   }

   .header2{
    display: grid;
    grid-template-columns:  80px 80px 80px;/
    
   }

   .ln{
    color: white;
   } 
    .compan{
        padding-left: 35px;
    }

    .footer{
        flex-direction: column;
        display: grid;
        grid-template-columns:  80px 80px 80px;
        height:20em;
       
    }

}
